<mat-spinner *ngIf="loading"></mat-spinner>
<p class="text-center" *ngIf="projet.length <= 0 && !loading">Pas d'utilisateurs !</p>
<div class="projet-grid" *ngIf="projet.length >= 0">
  <h2 class="text-center" > Liste des utilisateurs</h2>  
  <table class="table table-striped">
    <thead>
    <tr>

      <th>#</th>
      <th>Firstname</th>
      
      <th>Lastname</th>
      <th>Fonction</th>
      <th>Direction</th>
      
      <th>Role</th>
      
      
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let users of users">

      <td>{{user._id}}</td>
      <td>{{user.firstname}}</td>
      
      <td>{{user.lastname}}</td>
      <td>{{user.fonction}}</td>
      <td>{{user.direction}}</td>
      
      <td>{{user.role}}</td>
      
      
      <td>  <button type="button" class="btn btn-success" (click)="getNavigation('view', user._id)">View</button></td>
      
        
    </tr>
    </tbody>
  </table>
</div>
